<nav class="home-menu pure-menu pure-menu-horizontal">
  <a class="pure-menu-heading" href="/">
    <img class="avatar" src="<%=config.url%>/images/logo.png">
    <span class="title"><%=config.title%></span>
  </a>

  <ul class="pure-menu-list clearfix">
      <% Object.keys(theme.menu).forEach(function(key) { %>
          <% if ((is_home() && key==='home') || (is_archive() && key==='archives') || page.type === key) { %>
            <li class="pure-menu-item actived"><a href="<%=theme.menu[key]%>" class="pure-menu-link"><%= __(key)%></a></li>
          <% } else { %>
            <li class="pure-menu-item"><a href="<%=theme.menu[key]%>" class="pure-menu-link"><%= __(key)%></a></li>
          <% } %>
      <% }); %>
  </ul>
   
</nav>