
<% if (page.posts.length > 0) { %>
  <div class="recent-posts">
    <% page.posts.sort('date', -1).limit(10).each(function(post) { %>

      <article class="recent-post-item">
        <a class="title" href="<%=config.root + post.path%>"><h2><%=post.title%></h2></a>
        <div class="post-meta">
          <% if (theme.show_date && post.date) { %>
          <time class="time" datetime="<%=post.date.toJSON()%>">
            <%=date(post.date)%>
          </time>
          <% } %>
          <span class="slash">/</span>
          <% if (post.tags) { %>
          <%- list_tags(post.tags, {
            show_count: false,
            class: 'index-tag'
          }) %>
          <% } %>

        </div>

        <% if (theme.show_excerpt && post.excerpt) { %>
          <div class="post-excerpt">
            <%- post.excerpt %>
          </div>
        <% } %>
        <a class="more" href="<%=config.root + post.path%>"> 阅读全文〉</a>
      </article>
    <% }); %>
  </div>
<% } %>
